html, body {
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica", sans-serif;
}

#map {
    width: 100vw;
    height: calc(100vh - 34.5px)
}

#options-container {
    padding: 0.5em;
}

#network-selector {
    min-width: 25%;
    max-width: 60%;
}

#opacity-selector-container {
    display: inline-block;
    float: right;
}

#overlay-opacity-selector {
    vertical-align: middle;
}